@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* NAVBAR MAIN */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  background-color: #111;
  color: white;
  position: sticky;   
  top: 0;             
  z-index: 1000;  
}

/* LEFT */
.logo {
  margin: 0;
  cursor: pointer;
}

/* CENTER */
.search-bar {
  width: 300px;
  padding: 8px 12px;
  border-radius: 6px;
  border: none;
  outline: none;
}

/* RIGHT */
.nav-right {
  display: flex;
  align-items: center;
  gap: 20px;
}

.login-btn {
  padding: 8px 15px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  background-color: white;
  color: black;
  font-weight: 500;
}

/* CART */
.cart-icon {
  position: relative;
  font-size: 20px;
  cursor: pointer;
}

.cart-badge {
  position: absolute;
  top: -8px;
  right: -12px;
  background-color: red;
  color: white;
  font-size: 12px;
  padding: 3px 6px;
  border-radius: 50%;
}
