.view-products {
  padding: 20px;
  width: 100%;        /* take full dashboard width */
  box-sizing: border-box;
}

.view-products h2 {
  margin-bottom: 20px;
}

/* Table wrapper (important) */
.product-table {
  width: 100%;
  min-width: 900px;   /* makes table wider */
  border-collapse: collapse;
  background: white;
  box-shadow: 0 4px 10px rgba(0,0,0,0.08);
  border-radius: 8px;
  overflow: hidden;
}

/* Header */
.product-table thead {
  background-color: #1e293b;
  color: white;
}

.product-table th,
.product-table td {
  padding: 14px 18px;
  text-align: center;
  border-bottom: 1px solid #e5e7eb;
}

/* Image */
.product-table img {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 6px;
}

/* Buttons */
.edit-btn {
  background-color: #3b82f6;
  color: white;
  border: none;
  padding: 7px 14px;
  margin-right: 6px;
  border-radius: 5px;
  cursor: pointer;
}



/* Hover */
.product-table tbody tr:hover {
  background-color: #f8fafc;
}

.status{
  padding:5px 10px;
  border-radius:20px;
  font-size:12px;
  font-weight:600;
}

.status.active{
  background:#e6f9f0;
  color:#1a9c5b;
}

.status.low{
  background:#fff5e6;
  color:#ff9800;
}

.status.out{
  background:#ffe6e6;
  color:#e53935;
}

.toggle-btn{
  background:#ff9800;
  color:white;
  border:none;
  padding:6px 12px;
  border-radius:5px;
  cursor:pointer;
}

.toggle-btn:hover{
  background:#f57c00;
}

.disabled-row{
  opacity: 0.5;
  filter: grayscale(60%);
}

.status-badge {
  margin-left: 8px;
  padding: 2px 6px;
  font-size: 12px;
  border-radius: 4px;
  font-weight: 500;
}

.pagination button {
  border: 1px solid #ddd;
  background: white;
  padding: 8px 14px;
  cursor: pointer;
  border-radius: 6px;
  transition: 0.2s ease;
}

.pagination button:hover:not(:disabled) {
  background-color: black;
  color: white;
}

.pagination button:disabled {
  opacity: 0.4;
  cursor: not-allowed;
}

.pagination .active {
  background-color: black;
  color: white;
}


/* Header section */
.view-header{
  display:flex;
  justify-content:space-between;
  align-items:center;
  margin-bottom:20px;
}

/* Search box */
.search-box{
  display:flex;
  align-items:center;
  background:white;
  border:1px solid #ddd;
  border-radius:6px;
  overflow:hidden;
  box-shadow:0 2px 5px rgba(0,0,0,0.05);
}

/* Input */
.search-box input{
  border:none;
  outline:none;
  padding:8px 12px;
  font-size:14px;
  width:220px;
}

/* Button */
.search-btn{
  border:none;
  background:#1e293b;
  color:white;
  padding:8px 14px;
  cursor:pointer;
  font-size:16px;
}

.search-btn:hover{
  background:#0f172a;
}

@keyframes spin {
  0% { 
    transform: rotate(0deg); 
  }
  100% { 
    transform: rotate(360deg); 
  }
}



